extends layout

block content
  .container
    - if(req.session.ut == 1)
      button.btn.btn-warning(type="button" data-bs-toggle='modal' data-bs-target='#cropModal') Add new
    a(href='/crop?i=v').btn.btn-danger(type="button") Vegtables
    a(href='/crop?i=f').btn.btn-danger(type="button") Fruits
    a(href='/crop?i=c').btn.btn-danger(type="button") Cereals
    .row
      each cp in data
          .col-md-4.col-lg-3
            .product-card
              img(src='/uploads/' + cp.cropimage, alt='Product 1', class='product-image' width= '100%')
              h4= cp.cropname
              p= cp.about_drop
              p= cp.category
              .price
                span.label Rs:
                span.value= cp.price
                span.value / #{cp.unit}
              p.stock(data-st="#{cp.quantity}") (#{cp.quantity} Available)
            - if(req.session.ut == 1)
                a.btn.btn-primary.edit-button(href='/editcrop?id=' + cp.cropid ) Edit
            - else if(req.session.ut)
                button.btn.btn-primary.cart-button(data-id = cp.cropid data-type = "3" type="button" data-bs-toggle='modal' data-bs-target='#qtyModal') Add to cart
    #qtyModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Quantity
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .form-group
              label(for="quantity") Quantity:
              input#quantity.form-control(type="number",name="quantity")
            button.btn.btn-primary.add-cart(type="submit",value="submit" data-type="3" required) Submit
    #cropModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Rertilizer
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form(method="POST" action="" enctype="multipart/form-data")
              .form-group
                label(for="crop-name") Crop Name:
                input#crop-name.form-control(type="text",name="crop_name")
              .form-group
                label(for="crop-image") Crop Image:
                input#crop-image.form-control-file(type="file",name="crop_image")
              .form-group
                label(for="about-crop") About Crop:
                textarea(class="form-control", name="about_crop", rows="3")
              .form-group
                label(for="quantity") Quantity:
                input#quantity.form-control(type="number",name="quantity")
              .form-group
                label(for="unit") Unit:
                input(type="text" class="form-control" name="unit")
              .form-group
                label(for="price") Price:
                input#price.form-control(type="number",name="price")
              .form-group
                label(for='categorySelect') Category:
                select#categorySelect.form-control( name="slt_category",required)
                  option(value='-1' selected disabled) Select the category
                  option(value='vegetables') Vegetables
                  option(value='fruits') Fruits
                  option(value='cereals') Cereals
              button.btn.btn-primary(type="submit",value="submit") Submit
