extends layout

block content
  .container
    - if(req.session.ut == 1)
      button.btn.btn-warning(type="button" data-bs-toggle='modal' data-bs-target='#cropModal') Add new
    .row
      each cp in data
          .col-md-4.col-lg-3
            .product-card
              img(src='/uploads/' + cp.cropimage, alt='Product 1', class='product-image')
              h4= cp.cropname
              p= cp.about_drop
              .price
                span.label Rs:
                span.value= cp.price
                span.value / #{cp.unit}
              p (#{cp.quantity} Available)
            - if(req.session.ut == 1)
                a.btn.btn-primary.edit-button(href='/editcrop?id=' + cp.cropid ) Edit
            - else if(req.session.ut)
                a.btn.btn-primary.edit-button(href='/buycrop?id=' + cp.cropid ) Buy now
    #cropModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Rertilizer
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form(method="POST" action="" enctype="multipart/form-data")
              .form-group
                label(for="crop-name") Crop Name:
                input#crop-name.form-control(type="text",name="crop_name")
              .form-group
                label(for="crop-image") Crop Image:
                input#crop-image.form-control-file(type="file",name="crop_image")
              .form-group
                label(for="about-crop") About Crop:
                textarea(class="form-control", name="about_crop", rows="3")
              .form-group
                label(for="quantity") Quantity:
                input#quantity.form-control(type="number",name="quantity")
              .form-group
                label(for="unit") Unit:
                input(type="text" class="form-control" name="unit")
              .form-group
                label(for="price") Price:
                input#price.form-control(type="number",name="price")
              button.btn.btn-primary(type="submit",value="submit") Submit
