extends layout

block content
  script. 
        $('.ul-nav .active').removeClass('active');
        $('.ul-nav .li-fertilizer a').addClass('active');
  .container
    - if(req.session.ut == 1)
      button.btn.btn-warning(type="button" data-bs-toggle='modal' data-bs-target='#fertModal') Add new
    .row
      each fer in data
        .col-sm-6.col-md-4
          .row
            .col-md-4
              .product-card
                img(src='/uploads/' + fer.fertilizer_image, alt='Product 1', class='product-image' style="width: 200%;")
                h4= fer.Fertilizer_Name
                p= fer.About_Fertilizer
                - var x = moment(fer.Expiry_Date).format('YYYY-MM-DD')
                if(x != "Invalid date")
                  p
                    span.label Exp:
                    span.value= x
                .price
                  span.label Rs:
                  span.value= fer.price
                  span.value / #{fer.unit}
                p.stock(data-st="#{fer.Stock_Available}") (#{fer.Stock_Available} Available)
                - if(req.session.ut == 1)
                  a.btn.btn-primary.edit-button(href='/editfertilizer?id=' + fer.Fertilizer_ID ) Edit
                - if(req.session.ut == 2)
                  button.btn.btn-primary.cart-button(data-id = fer.Fertilizer_ID data-type = "1" type="button" data-bs-toggle='modal' data-bs-target='#qtyModal') Add to cart
    #qtyModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Quantity
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .form-group
              label(for="quantity") Quantity:
              input#quantity.form-control(type="number",name="quantity")
            button.btn.btn-primary.add-cart(type="submit",value="submit" data-type="1" required) Submit
    #fertModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Rertilizer
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form(method="POST" action="" enctype="multipart/form-data")
              .form-group
                label(for="fertilizer-name") Fertilizer Name:
                input(type="text", class="form-control", name="fertilizer_name")
              .form-group
                label(for="fertilizer-image") Fertilizer Image:
                input(type="file", class="form-control-file", name="fertilizer_image")
              .form-group
                label(for="about-fertilizer") About Fertilizer:
                textarea(class="form-control", name="about_fertilizer", rows="3")
              .form-group
                label(for="manufacturing-date") Manufacturing Date:
                input(type="date", class="form-control", name="manufacturing_date")
              .form-group
                label(for="expiry-date") Expiry Date:
                input(type="date", class="form-control", name="expiry_date")
              .form-group
                label(for="stock-available") Stock Available:
                input(type="number", class="form-control", name="stock_available")
              .form-group
                label(for="unit") Unit:
                input(type="text", class="form-control", name="unit")
              .form-group
                label(for="price") Unit price:
                input(type="number", class="form-control", name="price")
              button(type="submit", class="btn btn-primary", value="submit") Submit
