extends layout

block content
  script. 
        $('.ul-nav .active').removeClass('active');
        $('.ul-nav .li-order a').addClass('active');
  .container
    .row
      -var x = 0;
      - var d = new Date();
      table.table
        tr 
          if(req.session.ut == 1)
            th Ordered By
          th Item 
          th Category
          th Date
          th Quantiry 
          th Price
        each i in data.seed
          - x += parseInt(i.amount)
          - d = moment(new Date(i.date)).format('YYYY-MM-DD')
          tr
            if(req.session.ut == 1)
              td= i.name
            td= i.item_name
            td
              if(i.item_type == "1")
                p Fertilizer
              if(i.item_type == "2")
                p Pesticide
              if(i.item_type == "3")
                p Crop
              if(i.item_type == "4")
                p Seed
            td= d
            td= i.qty
            td= i.amount
        each i in data.fer
          - x += parseInt(i.amount)
          - d = moment(new Date(i.date)).format('YYYY-MM-DD')
          tr
            if(req.session.ut == 1)
              td= i.name
            td= i.item_name
            td
              if(i.item_type == "1")
                p Fertilizer
              if(i.item_type == "2")
                p Pesticide
              if(i.item_type == "3")
                p Crop
              if(i.item_type == "4")
                p Seed
            td= d
            td= i.qty
            td= i.amount
        each i in data.crp
          - x += parseInt(i.amount)
          - d = moment(new Date(i.date)).format('YYYY-MM-DD')
          tr
            if(req.session.ut == 1)
              td= i.name
            td= i.item_name
            td
              if(i.item_type == "1")
                p Fertilizer
              if(i.item_type == "2")
                p Pesticide
              if(i.item_type == "3")
                p Crop
              if(i.item_type == "4")
                p Seed
            td= d
            td= i.qty
            td= i.amount