extends layout

block content
  .container
    - if(req.session.ut == 1)
      button.btn.btn-warning(type="button" data-bs-toggle='modal' data-bs-target='#seedModal') Add new
  .row
      each sd in data
        .col-sm-6.col-md-4.col-lg-3
          .product-card
            img(src='/uploads/' + sd.seed_image, alt='Product 1', class='product-image' style="width: 100%;")
            h4=sd.seed_name
            p= sd.about_seed
            - var x = moment(sd.expiry_date).format('YYYY-MM-DD')
            if(x != "Invalid date")
              p
                span.label Exp:
                span.value= x
            .price
              span.label Rs:
              span.value= sd.price
              span.value / #{sd.unit}
            p.stock(data-st="#{sd.stock_available}") (#{sd.stock_available} Available)
            - if(req.session.ut == 1)
                a.btn.btn-primary.edit-button(href='editseed?id=' + sd.seed_id) Edit
            - else if(req.session.ut == 2)
                button.btn.btn-primary.cart-button(data-id = sd.seed_id data-type = "4" type="button" data-bs-toggle='modal' data-bs-target='#qtyModal') Add to cart
    #qtyModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Quantity
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            .form-group
              label(for="quantity") Quantity:
              input#quantity.form-control(type="number",name="quantity")
            button.btn.btn-primary.add-cart(type="submit",value="submit" data-type="4" required) Submit
    #seedModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Rertilizer
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form(method="POST" action="" enctype="multipart/form-data")
              .form-group
                label(for="seed-name") Seed Name:
                input(type="text", class="form-control", name="seed_name")
              .form-group
                label(for="seed-image") Seed Image:
                input(type="file", class="form-control-file", name="seed_image")
              .form-group
                label(for="about-seed") About Seed:
                textarea(class="form-control", name="about_seed", rows="3")
              .form-group
                label(for="manufacturing-date") Manufacturing Date:
                input(type="date", class="form-control", name="manufacturing_date")
              .form-group
                label(for="expiry-date") Expiry Date:
                input(type="date", class="form-control", name="expiry_date")
              .form-group
                label(for="stock-available") Stock Available:
                input(type="number", class="form-control", name="stock_available")
              .form-group
                label(for="stock-available") Unit:
                input(type="text", class="form-control", name="unit")
              .form-group
                label(for="stock-available") Unit price:
                input(type="number", class="form-control", name="price")
              button(type="submit", class="btn btn-primary",value="submit") Submit
